@import "fonts.css";
@tailwind base;

@layer base {
  :root {
    --darkgray: #202020;
    --purple: #9845e8;
    --cyan: #33d2ff;
    --pink: #dd5789;
    --rainbow: linear-gradient(89.81deg,
        var(--purple) -1.72%,
        var(--cyan) 54.05%,
        var(--pink) 99.78%);
  }

  /* tags */
  body {
    @apply bg-light dark:bg-dark;
  }

  h1 {
    @apply text-4xl
  }

  h2 {
    @apply text-2xl
  }

  hr {
    border-color: gray;
  }

  p {
    @apply my-8;
  }

  a:not(.not-a) {
    @apply prose inline-block relative dark:text-light;
    text-decoration: none;
  }

  a:not(.not-a)::after {
    background: var(--cyan);
    content: '';
    position: absolute;
    left: -2px;
    bottom: .1em;
    height: 0.1em;
    width: 105%;
    z-index: -1;
    transition: height .25s cubic-bezier(.6, 0, .4, 1);
  }

  a:not(.not-a):hover::after {
    height: 1.4em;
  }

  /* classes and id's */
  .container {
    @apply max-w-[800px] mx-auto px-4;
  }

  .title {
    @apply font-outfit font-thin sm:text-8xl;
    display: inline;
    vertical-align: middle;
  }

  .profile {
    width: 8em;
    height: 8em;
    overflow: hidden;
    border-radius: 50%;
    display: inline;
    margin: 2em 1.5em 2em 0;
  }

  .rainbow {
    background: var(--rainbow);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    background-size: 150% 150%;
    animation: gradient 6s ease infinite;
  }

  .nav-button {
    @apply dark:text-light dark:bg-[--darkgray] rounded-lg p-3 ml-1 bg-slate-100;
  }

  .nav-separator {
    @apply ml-2 mr-1 h-8 w-0;
    border: none;
    border-left: 1px solid gray;
  }

  .readmore-button {
    @apply dark:text-light dark:bg-[gray] rounded-b-lg w-full pt-px bg-slate-100 flex justify-center items-end opacity-50 hover:opacity-100 dark:opacity-15 dark:hover:opacity-40;
  }

  .card {
    @apply w-full h-auto scale-100 hover:scale-110 transition duration-[1.5s];
  }
  .tag {
    @apply rounded-full text-sm mx-1 px-2 bg-slate-100 opacity-70 dark:bg-[--darkgray] dark:text-light hover:opacity-100;
  }

  /* functions */ 
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }

  @media (max-width: 650px) {
    .title {
      @apply text-6xl
    }

    .profile {
      width: 7em;
      height: 7em;
    }
  }

  @media (max-width: 640px) {
    .exp-separator {
      @apply w-full float-none;
    }
  }

  @media (max-width: 500px) {
    .title {
      @apply text-5xl tracking-tight;
    }

    .nav-button,
    #theme-button {
      @apply p-2;
      width: 1.85rem;
      height: 1.85rem;
    }

    .profile {
      width: 6em;
      height: 6em;
    }

    #nav-separator {
      @apply h-4;
    }
  }

  @media (max-width: 360px) {

    #github-button,
    #linkedIn-button,
    /* #email-button, */
    /* #theme-button, */
    /* #hero-im, */
    .profile,
    .nav-separator {
      display: none;
    }

    .title {
      line-height: 2em;
    }
  }
}