@import "fonts.css";
@tailwind base;

@layer base {
  /* tags */
  body {
    @apply bg-light dark:bg-dark;
  }
  h1 {
    @apply font-outfit font-thin sm:text-8xl;
    line-height: 1.5em;
    display: inline;
    vertical-align: middle;
  }
  h2 {
    @apply font-outfit font-thin sm:text-8xl mb-8;
  }
  h3 {
    @apply text-2xl
  }
  hr {
    border-color: gray;
  }
  p {
    @apply my-8;
  }
  li,
  a {
    @apply font-inter text-dark-gray;
  }

  /* classes and id's */
  .container {
    @apply max-w-[800px] mx-auto px-4;
  }
  .profile {
    width: 8em;
    height: 8em;
    overflow: hidden;
    border-radius: 50%;
    display: inline;
    margin: 2em 1.5em 2em 0;
  }
  .rainbow {
    background: linear-gradient(
      89.81deg,
      #9845e8 -1.72%,
      #33d2ff 54.05%,
      #dd5789 99.78%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    background-size: 150% 150%;
    animation: gradient 6s ease infinite;
  }
  .nav-button {
    @apply dark:text-light dark:bg-[#202020] rounded-lg p-3 ml-1 bg-slate-100 
  }
  .nav-separator {
    @apply ml-2 mr-1 h-8 w-0;
    border: none; border-left: 1px solid gray;
  }
  .card {
    @apply w-full h-auto scale-100 hover:scale-110 transition duration-[1.5s];
  }

  /* functions */
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
  
    50% {
      background-position: 100% 50%;
    }
  
    100% {
      background-position: 0% 50%;
    }
  }
  @media (max-width: 650px) {
    h1 {
      @apply text-6xl
    }
    h2 {
      @apply text-6xl
    }

    .profile {
      width: 7em;
      height: 7em;
    }
  }
  @media (max-width: 500px) {
    h1 {
      @apply text-5xl tracking-tight;
    }
    h2 {
      @apply text-5xl;
    }
    .nav-button, #theme-button {
      @apply p-2;
      width: 1.85rem;
      height: 1.85rem;
    }
    .profile {
      width: 6em;
      height: 6em;
    }
    #nav-separator {
      @apply h-4;
    }
  }
  @media (max-width: 360px) {
    #github-button,
    #linkedIn-button,
    /* #email-button, */
    /* #theme-button, */
    /* #hero-im, */
    .profile ,
    .nav-separator {
      display: none;
    }

    h1 {
      @apply text-4xl;
    }
  }
}