@import "fonts.css";
@tailwind base;

@layer base {
  /* tags */
  body {
    @apply bg-light dark:bg-dark;
  }
  h1 {
    @apply font-outfit font-thin sm:text-8xl;
    line-height: 1.5em;
    display: inline;
    vertical-align: middle;
  }
  h2 {
    @apply font-outfit font-thin sm:text-8xl mb-8;
  }
  h3 {
    @apply text-2xl
  }

  hr {
    border-color: gray;
  }

  p {
    @apply my-12;
  }
  li,
  a {
    @apply font-inter text-dark-gray;
  }

  /* classes */
  .container {
    @apply max-w-[800px] mx-auto px-4;
  }
  .profile {
    width: 7em;
    height: 7em;
    overflow: hidden;
    border-radius: 50%;
    display: inline;
    margin: 2em 1.5em 2em 0;
  }
  .rainbow {
    background: linear-gradient(
      89.81deg,
      #9845e8 -1.72%,
      #33d2ff 54.05%,
      #dd5789 99.78%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    background-size: 150% 150%;
    animation: gradient 6s ease infinite;
  }

  /* functions */
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
  
    50% {
      background-position: 100% 50%;
    }
  
    100% {
      background-position: 0% 50%;
    }
  }
  @media (max-width: 650px) {
    h1 {
      @apply text-7xl
    }
    h2 {
      @apply text-6xl
    }

    .profile {
      width: 5em;
      height: 5em;
    }
  }
  @media (max-width: 500px) {
    h1 {
      @apply text-6xl;
      line-height: 1.8em;
    }
    h2 {
      @apply text-5xl;
    }
    .profile {
      display: none;
    }
  }
  @media (max-width: 300px) {
    .navbar-buttons, h2 {
      display: none;
    }
  }
}