---
import { Image } from "astro:assets";
import cl from "@data/cl.svg";
import heart from "@data/heart.svg";
---
<footer
  class="container text-center mt-14 mb-4"
>
  <hr />
  <div class="dark:text-light flex justify-center items-center mt-4 opacity-60" style="font-size: 0.4rem">
    from&nbsp;<Image src={cl} loading="eager" alt="CL" width="10" height="10" />&nbsp;with&nbsp;<Image src={heart} loading="eager" alt="<3" width="10" height="10" />
  </div> 
</footer>