---
import { Image } from "astro:assets";
import cl from "@data/cl.svg";
import heart from "@data/heart.svg";
---
<footer
  class="container text-center mt-8 mb-4"
>
  <hr />
  <div class="dark:text-light flex justify-center items-center mt-4 dark:opacity-70" style="font-size: 0.5rem">
    from&nbsp;<Image src={cl} loading="eager" alt="CL" width="12" height="12" />&nbsp;with <Image src={heart} loading="eager" alt="<3" width="12" height="12" />
  </div> 
</footer>