<footer
  class="container text-center mt-12 mb-4 sm:flex-row flex-col justify-between items-center"
>
  <hr />
  <div class="dark:text-light text-xs mt-4">
    made with &#128156; in Chile
  </div> 
</footer>