---
import { info } from "@data";
---

<footer
  class="container text-center sm:flex-row flex-col justify-between items-center mt-4 mb-8 sm:mb-4"
>
  <p class="text-xs dark:text-gray">
    developed with &#128156; from Chile
  </p>
</footer>
