---
import { Image } from "astro:assets";
import cl from "@data/cl.svg";
import heart from "@data/heart.svg";
---
<footer
  class="container text-center mt-14 mb-4"
>
  <hr />
  <div class="dark:text-light mt-4">
    <span class="opacity-50 flex justify-center items-center" style="font-size: 0.4rem">from&nbsp;<Image src={cl} loading="eager" alt="CL" width="8" height="8" />&nbsp;with <Image src={heart} loading="eager" alt="<3" width="7" height="7" /></span>
  </div> 
</footer>