<footer
  class="container text-center sm:flex-row flex-col justify-between items-center"
>
  <div class="dark:text-light text-xs mt-12">
    <hr class="sm:mb-4" />
    made with &#128156; in Chile
  </div> 
</footer>