---
import { info } from "@data";
---

<header
  class="container flex items-center justify-between h-[80px] sm:h-[123px]"
>
  <a
    class="text-2xl dark:text-light font-semibold dark:font-semibold font-outfit"
    href="/web/">
    {info.title}
  </a>
  <nav>
    <ul class="flex items-center">
      <li>
        <button
          id="github-button"
          class="dark:text-light rounded-lg p-4 ml-2 bg-slate-100 dark:bg-[#202020]"
        ></button>
      </li>
      <li>
        <button
          id="linkedIn-button"
          class="dark:text-light rounded-lg p-4 ml-2 bg-slate-100 dark:bg-[#202020]"
        ></button>
      </li>
      <li>
        <button
          id="email-button"
          class="dark:text-light rounded-lg p-4 ml-2 bg-slate-100 dark:bg-[#202020]"
        ></button>
      </li>
      &nbsp;&nbsp;
      <li>
        <hr style="border: none; border-left: 1px solid gray; height: 2em; width: 0;"/>

      </li>
      <li>
        <button
          aria-label="theme-button"
          id="theme-button"
          class="dark:text-light rounded-lg p-4 ml-2 bg-slate-100 dark:bg-[#202020]"
        ></button>
      </li>
    </ul>
  </nav>
</header>

<script type="module" src="/src/utils/index.mjs"></script>