---
import ProjectCard from "./ProjectCard.astro";
import { getCollection } from "astro:content";

const projects = await getCollection('projects');
const projectsFeatured = projects
  .filter(project => project.data.isFeatured)
  .sort((a, b) => a.data.id - b.data.id)
---

<div class=" dark:text-light">
  <h3 class="w-[15rem] dark:text-light mt-12">FEATURED PROJECTS</h3>

  <div class="grid md:grid-cols-2 grid-cols-1 gap-4 my-10">
    {projectsFeatured.map((project) => <ProjectCard project={project} hyperlink={true} />)}
  </div>
  <hr />
</div>