---
import ProjectCard from "./ProjectCard.astro";
import { getCollection } from "astro:content";

const projects = await getCollection('projects');
let projectsFeatured = [];

projects.map((project) => {
  if(project.data.isFeatured)
    projectsFeatured.push(project);
})
---
<div class=" dark:text-light">
  <h3 class="w-[15rem] dark:text-light">FEATURED PROJECTS</h3>

  <div class="grid md:grid-cols-2 grid-cols-1 gap-4 my-10">
    {projectsFeatured.map((project) => <ProjectCard project={project} big={true} />)}
  </div>
  <hr />
</div>