---
import { info } from "@data";
import ProjectComponent from "@components/general/Project.astro";
import MetaHeadComponent from "@components/general/MetaHead.astro";
import LayoutComponent from "@layouts/Layout.astro";

const [ project ] = info.projects.filter((project) => project.name === "vibia");
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <MetaHeadComponent
      title={project.title}
      description={"All projects are available in this page."}
    />
  </head>

  <body>
    <LayoutComponent>
      <ProjectComponent projectDetail={project} />
    </LayoutComponent>
  </body>
</html>
