---
import { info } from "@data";

import Layout from "@layouts/Layout.astro";
import Hero from "@components/home/Hero.astro";
import Experience from "@components/home/Experience.astro";
import ProjectsWrapper from "@components/general/ProjectsWrapper.astro";
---

<Layout>
  <Hero name={info.name} about={info.about} />
  <section>
    <ProjectsWrapper />
  </section>
  <section>
    <Experience title={"EXPERIENCE"} details={info.experience} />
  </section>
</Layout>