---
import { info } from "@data/info";

import Layout from "@layouts/Layout.astro";
import Hero from "@components/home/Hero.astro";
// import Experience from "@components/home/Experience.astro";
import Experience from "@components/home/Experience";
import ProjectsWrapper from "@components/general/ProjectsWrapper.astro";
---

<Layout>
  <Hero name={info.name} about={info.about} />
  <section>
    <ProjectsWrapper />
  </section>
  <section>
    <!-- <Experience experience={info.experience} /> -->
    <Experience experience={info.experience} />
  </section>
</Layout>