---
import { info } from "@data";
import Project from "@components/general/Project.astro";
import MetaHead from "@components/general/MetaHead.astro";
import Layout from "@layouts/Layout.astro";

const [ project ] = info.projects.filter((project) => project.name === "vibia");
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <MetaHead
      title={project.title}
      description={"All projects are available in this page."}
    />
  </head>

  <body>
    <Layout>
      <Project projectDetail={project} />
    </Layout>
  </body>
</html>
