---
import { IHeroProps } from "@types";
import "../../styles/style.css"

const { name, about } = Astro.props as IHeroProps;
---

<section>
  <div>
    <img src="/assets/images/profile2.jpg" class="profile">
    <h1 class="dark:text-light">I'm <span class="rainbow">Sergio</span>,</h1>
  </div>
  <p class="dark:text-light text-lg mb-16">
    {about}
  </p>
</section>
<hr />