---
import Footer from "@components/general/Footer.astro";
import Navbar from "@components/general/Navbar.astro";
import MetaHead from "@components/general/MetaHead.astro";
import info from "@data/info.json";
import "../styles/style.css";

const site_title = info.site_title ?? "";
const { title } = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <MetaHead
      title={site_title}
      subtitle={title ?? ""}
    />
  </head>

  <body>
    <Navbar title={site_title} />
    <main class="container">
      <slot/>
    </main>
  </body>
  <Footer />
</html>