---
import Footer from "@components/general/Footer.astro";
import Navbar from "@components/general/Navbar.astro";
import MetaHead from "@components/general/MetaHead.astro";
import "../styles/style.css";

const title = import.meta.env.SITE_TITLE;
const { data } = Astro.props;

---
<!DOCTYPE html>
<html lang="en">
  <head>
    <MetaHead
      title={title}
      description={data?.title ?? "home"}
    />
  </head>

  <body>
    <Navbar />
    <main class="container">
      <slot />
    </main>
  </body>
  <Footer />
</html>