---
import Footer from "@components/general/Footer.astro";
import Navbar from "@components/general/Navbar.astro";
import MetaHead from "@components/general/MetaHead.astro";
import "../styles/style.css";

const SITE_TITLE = import.meta.env.SITE_TITLE;
const { title } = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <MetaHead
      title={SITE_TITLE}
      subtitle={title ?? ""}
    />
  </head>

  <body>
    <Navbar title={SITE_TITLE} />
    <main class="container">
      <slot/>
    </main>
  </body>
  <Footer />
</html>