---
import FooterComponent from "@components/general/Footer.astro";
import NavbarComponent from "@components/general/Navbar.astro";
import "../styles/style.css";
---

<NavbarComponent />
  <main class="container">
    <span class="dark:text-light">
      <slot />
    </span>
  </main>
<FooterComponent />
